
<div class="header-container">
  <div><span class="header-title"><%= link_to "WebDiary", root_path, class: "home-link" %></span></div>
  <ul class="header-ul">
    <li><%= link_to "Create", new_article_path, class: "header-link" %></li>
  </ul>
</div>
