<div class="header-container-container">
<div class="header-container">

<span class="header-title"><h2><%= link_to "WHERE TO EAT PH", root_path, class: "header-comp-link" %></h2></span>

<ul class="header-list-container">
<li class="header-list"><%= link_to "Create", new_article_path, class: "header-comp-link" %></li>
<li class="header-list">About</li>
<li class="header-list">Contact Us</li>
</ul>

</div>
</div>

<hr></hr>
