    
<%= render "header" %>
<div class="article-container">
<div class="article-form-container">
<div class="article-form">

<span class="article-form-title">EDIT ENTRY</span>
<hr/>
<%= render "form", article: @article %>
</div>
</div>
</div>
