<%= render "header" %>
<div class="new-food-form-container-container">
<div>
<div class="new-food-form">
<h1>New Restaurant Form</h1>
<hr></hr>
<%= render "form", article: @article %>
</div>
</div>
</div>